{% extends 'base.html.twig' %}

{% block title %}Zut ! Une erreur est survenue{% endblock %}

{% block body %}

{# Accès à la page 404 en mode dev: https://localhost:8000/_error/404 #}

<div class="text-center m-3">
    <h1>Oups ! Cette page n'existe pas ! </h1>
    <h2>Retourner sur <a href="{{ path('app_hike_index') }}">la page principale</a></h2>

    <img class="w-80" src="{{ asset('images/404.png') }}" alt="rondoudou perplexe">
</div>

{% endblock %}