{% extends 'base.html.twig' %}

{% block title %}Zut ! Une erreur est survenue{% endblock %}

{% block body %}

{# Accès à la page 404 en mode dev: https://localhost:8000/_error/404 #}

<div class="text-center">
    <h1>Vous n'avez pas l'autorisation d'accéder à cette page ou vous n'êtes pas connecté !</h1>

    <img class="w-100" src="{{ asset('images/403.png') }}" alt="rondoudou pas content">
</div>

{% endblock %}